form {
width: 100%
}
/* float check feild left */
label.el-checkbox{
    float: left;
}
/*for Descktop change width to 50% of screen and center align the form */
@media (min-width: 1000px) {
    form  {
        width: 50%;
        margin: 0 auto;
    }
  }